### Title: 03_food_tree_annot_g_foodcodes
### Purpose: Generate file to annotate food tree figure with grams of intake in graphlan
### Date: April 5, 2024
### Author: Jules Larke

In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data 
otu = pd.read_csv('../../data/03/foodcode/foodcode_otu_e_adjust_drywt_no_water.txt', sep='\t')

In [4]:
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Meat_Poultry_Fish_and_Mixtures'), '#D43F1F', 0)
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Grain_Product'), '#FE9700', otu['ring_color'])
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Vegetables'), '#5DD047', otu['ring_color'])
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Milk_and_Milk_Products'), '#00A2F2', otu['ring_color'])
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Sugars_Sweets_and_Beverages'), '#C91ACB', otu['ring_color'])
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Fruits'), '#CBD12D', otu['ring_color'])
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Beans_Peas_Other_Legumes_Nuts_and_Seeds'), '#662A00', otu['ring_color'])
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Eggs'), '#A8863A', otu['ring_color'])
otu['ring_color'] = np.where(otu['clade_name'].str.contains('L1_Fats_Oils_Salad_Dressings_Condiments_and_Sauces'), '#737373', otu['ring_color'])

In [5]:
otu['clade_name'] = otu['clade_name'].str.split('|', expand=True)[5] # get ingredient descriptions
otu.drop(columns=['Main.food.description'], inplace=True)
ring_color = otu[['clade_name', 'ring_color']]

In [6]:
# convert to long format
x = otu.transpose()
new_header = x.iloc[0] #grab the first row for the header
x = x[1:] #take the data less the header row
x.columns = new_header #set the header row as the df header

In [29]:
means = x.iloc[0:-1,].mean().reset_index()

mean_color = means.merge(ring_color, on='clade_name')
mean_color['level'] = 1
mean_color['ht'] = 'ring_height'
mean_color['color'] = 'ring_color'
y = mean_color[['clade_name', 'color', 'level', 'ring_color']]
z = mean_color[['clade_name', 'ht', 'level', 0]]
z.columns = y.columns

In [30]:
z.sort_values('ring_color', ascending=False).head(10)

,clade_name,color,level,ring_color
6195,soft_drink_colatype,ring_height,1,5.600614
5,milk_cows_fluid_2_fat,ring_height,1,2.642818
4284,banana_raw,ring_height,1,2.605619
6273,beer_include_ale,ring_height,1,2.427140
2474,bread_white,ring_height,1,2.359507
2680,tortilla_corn,ring_height,1,2.296752
6206,soft_drink_fruitflavored_caffeine_free,ring_height,1,2.268125
1,milk_cows_fluid_whole,ring_height,1,1.964636
2522,roll_white_soft,ring_height,1,1.923224
4531,white_potato_french_fries_from_frozen_deepfried,ring_height,1,1.897954

In [32]:
pd.concat([z,y]).to_csv('../../data/03/foodcode_g_annot.txt', sep='\t', index=None, header=None)