In [1]:
import pandas as pd
import numpy as np
import string

In [3]:
# most updated taxonomy file: updated_taxonomy_060623.csv (modified from text_matching_complete, should rewrite)
taxa = pd.read_csv('../../data/02/updated_taxonomy_080323.csv', usecols=['Ingredient code', 'Ingredient description', 'Level.code', 'correct_code'])
labels = pd.read_csv('../../data/02/NodeLabelsMCT_updated_080323.txt', sep='\t')
ingredients = pd.read_csv('../../lib/00_qc_wweia/wweia_unique_ingred_codes.csv')

In [4]:
ingredients = ingredients[['ingred_code']]

In [5]:
labels['Level.code'] = labels['Level.code'].astype('int64')

In [6]:
taxa['Level.code'] = np.where(~taxa['correct_code'].isnull(),taxa['correct_code'],taxa['Level.code'])

In [7]:
punct = string.punctuation

In [8]:
def clean_text(text):
    text = "".join([word for word in text if word not in punct])
    return text

taxa['Ingredient description'] = taxa['Ingredient description'].apply(lambda x: clean_text(x))
taxa['Ingredient description'] = taxa['Ingredient description'].str.replace(' ', '_')

In [9]:
taxa = taxa[['Level.code', 'Ingredient description', 'Ingredient code']]

In [10]:
taxa['Level.code'] = taxa['Level.code'].astype('int64')

In [11]:
taxa = taxa[taxa['Ingredient code'].isin(ingredients['ingred_code'])]

In [12]:
taxa = taxa.rename(columns={'Ingredient description': 'Main.food.description', 'Level.code': 'FoodID'})

In [13]:
labels

      Level.code       Main.food.description
0              1      Milk_and_Milk_Products
1             11       Milks_and_milk_drinks
2            110                  Milk_human
3            111                    Milk_cow
4           1111            Milk_fluid_whole
...          ...                         ...
1787        9533          Fluid_replacements
1788        9534  Other_functional_beverages
1789         954            Meal_replacement
1790          99              Added_vitamins
1791         990                   Vitamin_D

[1792 rows x 2 columns]

In [14]:
x = labels

In [15]:
x.rename(columns={'Level.code':'FoodID'},inplace=True)

In [16]:
y = taxa.merge(x, on='FoodID', how='left')

In [17]:
y

,FoodID,Main.food.description_x,Ingredient code,Main.food.description_y
0,81101,Butter_salted,1001,Butter
1,81107,Butter_whipped_with_salt,1002,Butter_whipped
2,81101,Butter_oil_anhydrous,1003,Butter
3,14101,Cheese_blue,1004,Blue_or_Rouquefort
4,14102,Cheese_brick,1005,Brick
...,...,...,...,...
1490,7331,Squash_summer_crookneck_and_straightneck_raw,11467,Squash_summer
1491,63101,Pie_fillings_apple_canned,19312,Apple_or_applesauce
1492,214,Beef_chuck_for_stew_separable_lean_and_fat_all...,23090,Beef_roasts_stew_meat_corned_beef_beef_brisket...
1493,41201,Beans_baked_canned_no_salt_added,43449,Baked_beans
1494,2522,Sausage_pork_chorizo_link_or_ground_cooked_pan...,100173,Sausages

In [18]:
y.rename(columns={'Main.food.description_x':'ingred_desc', 'Main.food.description_y':'taxon'},inplace=True)
y.to_csv('all_ingred_codes_taxa_080323.csv',index=None)

In [19]:
taxa[['Main.food.description', 'Ingredient code']].to_csv('wweia_ingredient_list.csv', index=None)

In [20]:
# Count the number of ingredient codes within each of the 969 distinct taxonomic levels. This can help simplify mapping to glycopedia?

In [21]:
taxa_count = taxa.FoodID.value_counts().to_frame()

In [22]:
taxa_count.reset_index(inplace=True)

In [23]:
taxa_count.rename(columns={'index':'Level.code', 'FoodID':'count'}, inplace=True)

In [24]:
taxa_count

     Level.code  count
0           211     23
1          2231     22
2            76     21
3           585     20
4          1172     20
..          ...    ...
594       72129      1
595         225      1
596         226      1
597        2232      1
598        7331      1

[599 rows x 2 columns]

In [25]:
labels.rename(columns={'FoodID':'Level.code'}, inplace=True)

In [26]:
taxa_count.merge(labels, on='Level.code', how='left').to_csv('taxa_level_count.csv', index=None)

In [28]:
taxa.to_csv('../../data/02/wweia_ingredient_taxa.txt', sep='\t', index=None)

In [29]:
labels.to_csv('../../data/02/NodeLabelsMCT_updated_080323.txt', sep='\t', index=None)